div.card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 80px;
    background: #EEE;
    border: 3px solid #DDD;
    border-radius: 5px;
    font-size: 18pt;
    text-align: center;
    line-height: 75px;
}